alembic==1.12.1
fastapi==0.104.1
sqlalchemy==2.0.23
python-dotenv
pydantic-settings==2.0.3
pydantic[email]
bcrypt==4.0.1
passlib
python-jose==3.3.0
asyncpg==0.29.0
greenlet==3.0.1
python-multipart==0.0.6
pytest==7.4.3

celery
emails
tenacity
uvicorn
